*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: white; */
    /* border: 1px solid; */
}

.bg-dg{
    background-color: rgb(225, 203, 203);
}

.text-dg{
    color: red;
}

.opacity{
    opacity: .5;
}

.width-img{
    width: 10%;
}