.logo-div{
    width: 30%;
}

.bg-whiteColor{
    background-color: white;
}

.show-all-movies{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    row-gap: 5%;
    /* column-gap: 2%; */
    width: 90%;
    margin: auto;
}

.box-width{
    width: 12vw;
}

.all-covers{
    height: 35vh;
}